<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzimo.giftledger.mapper.GiftBookEntriesMapper">

    <resultMap id="BaseResultMap" type="com.itzimo.giftledger.dao.GiftBookEntries">
            <id property="id" column="id" />
            <result property="giftBookId" column="gift_book_id" />
            <result property="giftBookUserId" column="gift_book_user_id" />
            <result property="date" column="date" />
            <result property="amount" column="amount" />
            <result property="reason" column="reason" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,gift_book_id,gift_book_user_id,date,amount,reason,
        created_at
    </sql>
</mapper>
